.why-choose-us {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #f9f6fc, #ece1f7);
}

.why-choose-us h2 {
   font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #53346D;
   font-family: 'Poppins', sans-serif;
}

.subheading {
  font-size: 1em;
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
}

.choose-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* vertical space between rows */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap; /* Prevent stacking */
}

/* Image box */
.image-box {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f0f0f0;
  transition: transform 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.image-box:hover {
  transform: scale(1.05);
}

/* Backgrounds */
.green-bg {
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.peach-bg {
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

/* Text box */
.text-box {
  width: 600px;
  height: 200px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  transition: 0.3s ease;
  position: relative;
}

.text-box:hover {
  transform: scale(1.02);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.shadow-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.text-box p {
  font-size: 1em;
  color: #222;
  line-height: 1.6;
}
