.labelline{
    transform: translateY(20px);
    transition: all 0.3s ease;
    padding: 0px 10px;
    pointer-events: none;
    font-weight: 400;
    border: 1px solid black;
}
input:focus+.labelline,
input:valid+.labelline{
    transform: translateY(-30px) scale(0.88);
    z-index: 2;
    border-radius: 20px;
}