@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

button{
  cursor: pointer;
  outline: none;
}
header{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* translucent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

}
